.App {
  text-align: center;
  padding: 5px;
}

.flex {
  height: 150px;
  display: flex;
  justify-content: center;
}

.display {
  box-sizing: border-box;
  font-size: 200%;
  font-family: Georgia, serif;
  white-space: pre-wrap;
  background-color: ghostwhite;
  width: 90%;
  z-index: 1;
  margin-top: 5px;
  padding: 5px;
  border: #b1b0ff solid 1px;
  border-radius: 5px;
}


/*
  ///////////////////////////////////////////////
  ////////////// SEGMENT STYLES /////////////////
  ///////////////////////////////////////////////
 */
.basicSegment {
  box-sizing: border-box;
  position: relative;
  padding: 0 0.2ch;
  margin-left: -0.1ch;
  margin-right: -0.1ch;
  border-radius: 0.7ch;
  border: solid white 0.1ch;
}

.leftStretchSegment {
  padding-left: 1ch;
  margin-left: -1ch;
}

.rightStretchSegment {
  padding-right: 1ch;
  margin-right: -1ch;
}

/* Uncomment the border-radius rules to show when trimming is working */
.leftTrimSegment {
  padding-left: 0;
  margin-left: 0;
  /*border-radius: 0;*/
}

.rightTrimSegment {
  padding-right: 0;
  margin-right: 0;
  /*border-radius: 0;*/
}
